*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins, Sans-serif';
}
body
{
    overflow-x: hidden;
}
.head-1
{
    height: 70px;
    width: 100%;
    border: 2px solid blue;
}
.container
{
    position: relative;
    width: 100%;
}
.side-bar
{
    position: fixed;
    width: 18%;
    height: 100vh;
    background: linear-gradient(45deg, #2bd46c, #0969a1);
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 10px;
}
.side-bar ul li
{
    width: 90%;
    list-style-type: none;
}
.side-bar ul li:hover
{
    background: #040a0e;
}
.side-bar-1 li a
{
    width: 100%;
    text-decoration: none;
    color: white;
    height: 60px;
    text-align: center;
}
.side-bar-1 li
{
    line-height: 20px;
    font-weight: 500;
    border-bottom: 1px solid white;
}
.side-bar-1 li:hover
{
    opacity: 0.90;
    transform: scale(0.90);
}
.side-bar ul li a i
{
    min-width: 40px;
    font-size: 25px;
    text-align: center;
}
.side-bar-2 li a
{
    width: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
}
.side-bar .title
{
    padding: 0 10px;
    font-size: 18px;
}
.lastside-1
{
    position: relative;
    bottom: 0%;
}
.main
{
    position: absolute;
    width: calc(100% - 300px);
    min-height: 100%;
    left: 300px;
    background: #acd6be;
}
.top-bar
{
    position: fixed;
    height: 60px;
    width: calc(100% - 300px);
    background: #fff;
    display: grid;
    grid-template-columns: 10fr 0 3fr;
    grid-gap: 7px;
    align-items: center;
    color: #0c0c0c;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.top-bar .search
{
    position: relative;
    width: 50px;
    height: 50px;
}
.search input
{
    width: 100%;
    min-width: 300px;
    height: 40px;
    padding:  0 40px;
    font-size: 15px;
    outline: none;
    border: none;
    background: #f5f5f5;
    border-radius: 10px;
}
.search i
{
    position: absolute;
    left: 270px;
    top: 15px;
    cursor: pointer;
}
.user img
{
    position: relative;
    height: 50px;
    width: 50px;
    margin-left: 175px;
}
.container-1
{   
    position: relative; 
    height: 22vh;
    left: 20%;
    margin-top: 2%;
}
.container-1
{
    display: flex;
    align-items: center;
    gap: 60px;
}
.container-1 div:hover
{
    opacity: 0.90;
    transform: scale(0.90);
    background: linear-gradient(90deg,#16d1de 0%, #077e3d 80%);
    border-radius: 10px;
}
.card
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.card p
{ 
    font-weight: lighter;
}
.card button
{
    padding: 10px 15px;
    border-radius: 10px;
    background: linear-gradient(90deg,#1676f3 0%, #16d5ee 80%);
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
}
.card i
{
    font-size: 25px;
}
main h1
{
    position: relative; 
    left: 20%;
    margin-top: 5%;
    text-shadow: 1px 11px 5px rgba(0,0,0,0.6);
}
.master h1
{
    position: relative;
    left: 20%;
    text-shadow: 1px 11px 5px rgba(0,0,0,0.6);
}
.hero
{
    position: relative;
    left: 23%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    gap: 70px;
    border: 2px solid rgb(105, 7, 218);
    width: 77%;
    height: 60vh;
    background:url("pi-1.jpg")

}
.first-set, .second-set, .third-set
{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    border: 1px solid black;
    height: 250px;
    width: 390px;
    margin-left: 20px;
    background-color: rgb(210, 235, 210);
    border-radius: 10px;
}
.first-set div:hover
{
    opacity: 0.90;
    transform: scale(0.90);
}
.second-set div:hover
{
    opacity: 0.90;
    transform: scale(0.90);
}
.third-set div:hover
{
    opacity: 0.90;
    transform: scale(0.90);
    
}
.content-1
{   
    position: relative;
    left: 0;
    margin-bottom: 50px;
    font-size: 25px;
    margin-left: 10px;
}
.content-2
{   
    position: relative;
    left: 0;
    margin-bottom: 50px;
    font-size: 25px;
    margin-left: 10px;
}
.content-3
{   
    position: relative;
    left: 0;
    margin-bottom: 50px;
    font-size: 25px;
    margin-left: 10px;
}
.content-1 button, .content-2 button, .content-3 button
{
    margin-top: 55px;
    padding: 10px 15px;
    border-radius: 10px;
    background: linear-gradient(90deg,#7b53d8 0%, #09b7ec 80%);
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
}